@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700;800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

body {
    background-image: url(/assets/images/bg-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

#container-1 {
    display: flex;
    flex-direction: row;
    position: relative;
}

#nav-menu {
    display: flex;
    flex-direction: row;
    gap: 150px;
    position: absolute;
    left: 700px;
    top: 20px;
    z-index: 10;
    overflow: hidden;
}

#nav-menu button {
    padding: 10px;
    border: none;
    background-color: transparent;
    font-size: 15px;
    color: white;
    cursor: pointer;
}

#nav-menu button:hover {
    color: aqua;
    transform: scale(1.1);
}

#card-left {
    position: absolute;
    right: 100px;
    top: 100px;
}

#card-right {
    position: absolute;
    left: 100px;
    top: 50px;
    height: 600px;
    width: 300px;
    text-align: left;
}

#main-text {
    position: relative;
    top: 50px;
    color: white;
    font-size: 60px;
    line-height: 70px;
    overflow: hidden;
}


#social-media {
    background: rgba(0, 0, 0, 0.272);
    border-right: 1px solid rgba(255, 255, 255, 0.335);
    backdrop-filter: blur(1px);
    color: white;
    position: relative;
    display: flex;
    gap: 35px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 70px;
    float: left;
    padding: 5px;
}

#social-media i {
    font-size: 30px;
    cursor: pointer;
}

#social-media i:hover {
    color: aqua;
    transform: scale(1.9);
    transition: 0.5s ease;
}

#foot {
    border: none;
    display: flex;
    position: relative;
    bottom: -15px;
    justify-content: center;
    color: white;
}

#titulo {
    color: rgb(65, 65, 65);
    position: absolut;
    top: 1px;
}

#card-right p {
    position: absolute;
    bottom: 50px;
    color: rgb(207, 204, 204);
    padding: 15px;
    border: 1px solid rgba(255, 255, 255, 0.129);
    background-color: rgba(34, 34, 34, 0.283);
    backdrop-filter: blur(1px);
}

#card-right #get-now {
    position: absolute;
    bottom: 1px;
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-weight: 400;
    background-color: rgba(59, 59, 59, 0.557);
    box-shadow: 5px 5px 6px black;
    color: white;
    cursor: pointer;
}

#card-right #get-now:hover {
    background-color: rgba(14, 238, 242, 0.52);
    transition: 0.5s ease;
}
#gift-cards {
    position: relative;
    overflow: hidden;
    width: 700px;
    height: 500px;
}

#gift-cards a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    position: absolute;
    bottom: 2px;
    left: 300px;
}

#gift-cards a:hover {
    color: aqua;
    transition: 0.5s ease;
}


#gift-1 {
    color: white;
    position: absolute;
    right: 300px;
    font-size: 10pt;
    padding: 10px;
    background: rgba(0, 0, 0, 0.45);
    border-radius: 10px;
}

#gift-2 {
    color: white;
    position: absolute;
    right: 10px;
    font-size: 10pt;
    top: 175px;
    background: rgba(244, 244, 1, 0.742);
    padding: 10px;
    border-radius: 10px;
}

#gift-3 {
    color: white;
    position: absolute;
    left: 10px;
    font-size: 10pt;
    top: 350px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.45);
    border-radius: 10px;
}

#heart {
    color: red;
}